*.iml
.gradle
/local.properties
app/trashsensefirebase-adminsdk-fbsvc-86ae789e48.json
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

